/*App*/
.main-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main-menu {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  justify-content: space-between;
  overflow-y: auto;
}
.menu-configurator {
  display: flex;
  justify-content: center;
  border-bottom: 1px #00000024 solid;
  width: 100%;
  padding: 0 0 16px 0;
  color: #e82722;
  .menu-configurator-name {
    font-weight: bold;
    cursor: default;
  }
  .menu-configurator-cog {
    display: flex;
    font-size: 24px;
    cursor: pointer;
    color: red;
    width: 24px;
    background-color: #FDF800;
  }
  .menu-configurator-cog:hover {
    background-color: #a6adc8;
  }
}
.configuration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 60px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px #00000024 solid;
  width: 100%;
  height: 131px;
  align-items: center;
  justify-content: space-between;
  color: $color-text-helper;
  border-left: 3px solid white;
  cursor: pointer;
  i {
    font-size: 36px;
  }
}
.menu-item:hover {
  background-color: $color-bg;
  color: black;
}
.menu-link {
  display: flex;
  flex-direction: column;
  padding-bottom:16px;
  padding-top: 16px;
  border-bottom: 1px #00000024 solid;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: $color-text-helper;
  border-left: 3px solid white;
  cursor: pointer;
  i {
    font-size: 36px;
  }
}
.menu-link:hover {
  background-color: $color-bg;
  color: black;
}
.menu-item.active {
  color: black;
  border-left: 3px solid #DC0000;
}
.menu-link.active {
  color: black;
  border-left: 3px solid #DC0000;
}
.menu-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .logo {
    width: 100%;
    height: 175px;
    background-image: url("logotype.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  height: 100%;
  background-color: $color-bg;
  overflow: hidden;
}
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 16px;
  .login-item {
    display: flex;
    margin-left: 16px;
    cursor: pointer;
  }
}
.content {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
}
.screen-wrapper.disable {
  position: relative;
  pointer-events: none;
  .screen-message {
    position: absolute;
    background-color: $color-bg-disabled;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.screen-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .screen-message {
    display: none;
  }
}
.main-screen {
  display: flex;
  width: 100%;
  height: 100%;
}
.screen {
  display: flex;
  padding: 16px;
  background-size: cover;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 20px;
  min-width: 1024px;
  max-width: 16000px;
  min-height: 768px;
  max-height: 16000px;
  background-color: white;
}
//Справа
.screen-row {
  flex-direction: row;
  .banner-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
    max-height: 100%;
    .banner {
      height: 100%;
    }
    .banner:nth-of-type(2) {
      margin: 16px 0;
    }
  }
  .game-list {
    width: calc(100% - 350px);
  }
  .program-list {
    width: calc(100% - 350px);
  }
}
//Снизу
.screen-column {
  flex-direction: column;
  .banner-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    max-height: 100%;
    .banner {
      width: 100%;
    }
    .banner:nth-of-type(2) {
      margin: 0 16px;
    }
  }
}
.screen-configuration {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  overflow-y: auto;
}
.form {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.billboard {
  display: flex;
  height: 332px;
  width: 536px;
  background: #FDF800;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.billboard * {
  display: flex;
}
.navigation {
  display: flex;
  height: 148px;
  width: 280px;
  background: #F6FBFF;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
/*Игры*/
.game-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.program-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 30px 8px 8px 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  height: fit-content;
}
.program {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 30px 8px 8px 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  height: fit-content;
}
.game-name {
  display: flex;
  margin-top: 8px;
}
.program-name {
  display: flex;
  margin-top: 8px;
}
.game-cover {
  border-radius: 12px;
  box-shadow: 0 24px 48px #e6ebf566, 0 1px 4px #e3ebfc;
  object-fit: cover;
  object-position: center center;
  background-image: url("logotype.svg");
  background-color: #8aa1d0;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.cover {
  border-radius: 12px;
  box-shadow: 0 24px 48px #e6ebf566, 0 1px 4px #e3ebfc;
  object-fit: cover;
  object-position: center center;
  background-position: center center;
  background-size: cover;
  width: 150px;
  height: 150px;
  background-color: #8aa1d0;
}
.cover.icon {
  background-color: unset;
}
.cover-editor {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 8px;
}
.program-cover {
  border-radius: 12px;
  box-shadow: 0 24px 48px #e6ebf566, 0 1px 4px #e3ebfc;
  object-fit: cover;
  object-position: center center;
  background-image: url("logotype.svg");
  background-color: #8aa1d0;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.game-icon {
  border-radius: 12px;
  object-fit: cover;
  object-position: center center;
  color: black;
  cursor: pointer;
}
.program-icon {
  border-radius: 12px;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}
.shop-icon {
  border-radius: 12px;
  object-fit: cover;
  object-position: center center;
  background-color: #a6adc8;
}
.icons-group {
  display: flex;
  position: absolute;
  right: 16px;
  top: 4px;
}
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #FDF800;
  border-radius: 12px;
  align-items: center;
  color: #0b1f33;
  font-size: 36px;
  justify-content: center;
  &:nth-of-type(2) {
    margin: 16px;
  }
}
.select {
  width: 300px;
}
.configuration-disable {
  color: $color-text-helper;
}
.configuration-disable input{
  color: $color-text-helper;
  background-color: $color-bg-disabled;
  pointer-events: none;
}
.configuration-disable .icon-mode{
  pointer-events: none;
  color: $color-text-helper;
}
.configuration-disable .tabs{
  pointer-events: none;
}
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  .table-header {
    display: flex;
    align-content: center;
    padding: 8px 0;
    border-bottom: 1px solid gray;
    .header-cell {
      display: flex;
      justify-content: flex-start;
      align-content: center;
    }
  }
  .table-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 8px 0;
    border-bottom: 1px solid gray;
    cursor: pointer;
    .cell {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      i {
        font-size: 24px;
      }
    }
  }
  .table-row:hover {
    background-color: $color-bg-input;
  }
  .table-row.active {
    background-color: #e4effa;
  }
}
.table-row-edit {
  display: flex;
  align-content: center;
  padding: 8px 0;
  border-bottom: 1px solid gray;
  background-color: $color-bg-info;
  cursor: pointer;
  .cell {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    i {
      font-size: 24px;
    }
  }
}
.table-body {
  max-height: 220px;
  overflow-y: auto;
  border-bottom: 2px solid gray;
}
.confirm {
  position: absolute;
  width: 300px;
  height: 200px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #2DC36A;
  border-radius: 12px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  bottom: 40px;
  right: 40px;
  padding: 24px;
  .icon-mode {
    width: 100%;
    justify-content: flex-end;
    margin: unset;
  }
}