@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;600&display=swap');
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 36px !important;
    line-height: 40px;
    font-style: normal;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 32px !important;
    line-height: 40px;
    font-style: normal;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px !important;
    line-height: 32px;
    font-style: normal;
}
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 28px;
    font-style: normal;
}
h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px !important;
    line-height: 24px;
    font-style: normal;
}
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px;
    font-style: normal;
}
p {
    font-size: 16px;
    line-height: 24px;
}
html,
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
}