// Colors
$color-primary: #0061d9;
$color-default: #cbcbcd;
$color-success: #2DC36A;
$color-warning: #FED13E;
$color-danger: #e52e2e;
$color-info: #ffffff;

$color-text-helper: #66727F;
$color-btn: #F6FBFF;
$color-bg-disabled: #D1D5DF;

$color-bg: #EAEAEA;
$color-bg-info: #FEF0CC;
$color-shadow: #E6EBF5;
$color-bg-input: #F5F7FA;
$color-list: #4D83FA;

$color-primary-active: #0049a3;
$color-default-active: #a7a8ab;
$color-success-active: #006638;
$color-info-active: #97979b;
$color-warning-active: #f2a62c;
$color-danger-active: #c81919;

/* Цвета фона */
$color-bg-hover: #e1e4e9;
$color-menu-hover: #EDF2FE;
/* Цвет фона при наведении */
$color-bg-scroll: #f0f0f0;
/* Цвет фона при наведении */
$color-bg-danger: #fdeded;
/* Цвет фона ряда таблицы с ошибкой */
$color-bg-applied: #ebfff6;
/* Цвет фона ряда таблицы с примененной версией ГАС */

/* Цвета текста */
$color-typo: #0b1f33;
$color-typo-primary: $color-info;
/* Цвет основного текста */
$color-typo-secondary: #8d8e91;
/* Цвет второстепенного текста */
$color-typo-archive: #8aa1d0;
/* Цвет архиной записи */